#bandeiracanada {
    width: 300px;
    height: auto;
}

/*NAV*/
#navbarNavDropdown {
    justify-content: space-around;
}

#col-sm-7 {
    background-color: #d52b1e;
}

#iconeinstagram {
    color: #C13584;
}

.btn {
    margin-top: 45px;
    margin-right: 25px;
    background-color: #d52b1e
}

#curiosidadessobreocanada {
    color: white;
    text-align: center;
    margin-top: 50px;
}

#alerta {
    text-align: center;
}


h1, h2 {
    text-align: center;
}


/*Footer*/
#copyright {
    text-decoration: none;
}