#bandeiracanada {
    width: 300px;
    height: auto;
}

/*NAV*/
#navbarNavDropdown {
    justify-content: space-around;
}


#alerta {
    text-align: center;
}

h1 {
    text-align: center;
}

/*Footer*/
#copyright {
    text-decoration: none;
}