#bandeiracanada {
    width: 300px;
    height: auto;
}

/*NAV*/
#navbarNavDropdown {
    justify-content: space-around;
}

#iconeinstagram {
    color: #C13584;
}

#curiosidadessobreocanada {
    color: #d52b1e;
}


#alerta {
    text-align: center;
}


h1 {
    text-align: center;
}


/*Footer*/
#copyright {
    text-decoration: none;
}